@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-red-500 text-white;
}

html {
  @apply scroll-smooth;
}

body::-webkit-scrollbar {
  @apply w-[7.5px];
}

body::-webkit-scrollbar-thumb {
  @apply rounded bg-red-500;
}

body::-webkit-scrollbar-track {
  @apply bg-transparent;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-gray-100 font-inter text-base font-normal text-gray-900;
}

#__next {
  @apply flex min-h-full flex-col overflow-hidden;
}

#header {
  @apply fixed top-0 left-0 z-50 w-full text-gray-500 shadow-md transition-all duration-300 ease-in-out;
}

#header[data-sticky="true"] {
  @apply -translate-y-[var(--header-top-height)];
}

.my-swaper-wrapper > .swiper-button-prev {
  left: -24px !important;
}

.my-swaper-wrapper > .swiper-button-disabled {
  opacity: 0 !important;
}

.my-swaper-wrapper > .swiper-button-next {
  right: -24px !important;
}
